@import url('fonts.css');
* {
	margin: 0px;
	padding: 0px;
}
body, html {
	height: 100%;
	width: 100%;
	background-color: #00A79D;
}
.oculto {
	display: none;
}
.hBox {
	width: 100%;
}

.logo {
	background: url('img/logo_header.png');
	background-size: cover;
	float: left;
	cursor: pointer;
}
#header {
	padding: 2% 2% 0 2%;
	height: 13%;
	width: 96%;
	float: right;
	background-color: #E6E7E8;
}
#cuerpo {
	height: 82%;
	width: 100%;
	float: right;
	background-color: #E6E7E8;
}
.sliderNavegacion {
	float: right;
}
.linkNavegacion {
	padding: 0 3% 0 3%;
	margin: 0 0.5% 0 0.5%;
}
.linkNavegacion, .detalleImagen, .footer, .tituloGeneral, .parrafoGeneral, .nombre {
	font-family: 'Roboto Condensed', sans-serif;
	color: #6D6E71;
}
.linkSeleccionado, .linkNavegacion:hover {
	background-color: #00A79D;
	cursor: pointer;
}
.linkNavegacion.slick-active {
	background-color: #00A79D;
	color: #E0E0E0;
}
.sliderPagina {
	height: 100%;
}
.pagina {
	max-height: 100%;
}

.contenidoPrincipal {
	height: 75%;
}
.inversion, .tituloPagina {
	font-family: 'Abril Fatface', cursive;
}
.footer {
	background-color: #00A79D;
	min-height: 110px;
	height: 25%;
	float: right;
	width: 100%;
}
.tituloFooter, .parrafoFooter {
	width: 100%;
	text-align: center;
	color: #E0E0E0;
}

.datos {
	float: right;
	border-left: solid 1px #E0E0E0;
	color: #E0E0E0;
	text-align: right;
	margin: 2% 0;
}
.tituloPagina {
	color: #00A79D;
	line-height: 1;
}
.wrapperContenido {
	width: 40%;
	margin-left: 5%;
	float: left;
}

/*HOME*/
#tiraHome {
	width: 95%;
	margin: 0 2% 0 2%;
	background: url('img/ilus_home.png') no-repeat;
}
.inversion {
	color: #00A79D;
	width: 100%;
	text-align: center;
}
.tercio {
	width: 20%;
	padding: 2% 2% 1% 2%;
	float: right;
}
/*HOME*/

/*CFUNIONA*/
#tiraFunciona {
	width: 95%;
	margin: 0 2% 0 2%;
	background: url('img/funciona_tira.png') no-repeat;
	float: left;
}
/*CFUNIONA*/

/*ACERCADE*/
.cv {
	width: 40%;
	float: right;
	display: block;
	margin-top: 2%;
}
.detalleCV {
	width: 45%;
	margin-right: 3%;
	float: left;
	text-align: right;
}
.fotoAye {
	background: url('img/foto_aye.jpg') no-repeat;
	background-size: contain;
	width: 50%;
	height: 100%;
	float: right;
}
/*ACERCADE*/

/*CONTACTO*/
.formContacto {

}
.campoFormulario {
	width: 70%;
}
.campoFormulario label {
	color: #818286;
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;;
}
.campoFormulario input, .campoFormulario textarea {
	background-color: #818286;
	color: #F6F7F9;
	float: right;
	width: 60%;
	border: 0px;
	resize: none;
}
.error {
	font-family: 'Roboto Condensed', sans-serif;
	color: #00A79D;
	width: 100%;
	display: block;
}
#ocurrioError {
	font-family: 'Roboto Condensed', sans-serif;
	color: #00A79D;
	width: 100%;
	display: block;
	padding-bottom: 2%;
}
#camposWrapper {
	float: left;
}

.botones {
	float: right;
	width: 50%;
}

.btnEnviar {
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;;
	color: #00A79D;
}
/*CONTACTO*/

@media screen and (max-height: 800px) {
	#header {
		min-height: 80px;
	}
	.logo {
		height: 29px;
		width: 156px;
	}
	.sliderNavegacion {
		height: 31px;
	}
	.linkNavegacion h1 {
		font-size: 20px;
		margin: 4px 3px 0 3px;
	}
	.contenidoPrincipal {
		min-height: 350px;
	}
	#tiraHome {
		min-height: 170px;
	}
	.inversion {
		font-size: 100px;
	}
	.tituloPagina {
		font-size: 60px;
		padding-bottom: 30px;
	}
	.detalleImagen {
		font-size: 12px;
	}
	.tituloFooter, .tituloGeneral, .campoFormulario label, .nombre {
		font-size: 14px;
		padding-bottom: 5px;
	}
	.parrafoFooter, .parrafoGeneral {
		font-size: 12px;
		padding-bottom: 5px;
	}
	.datos {
		padding: 0 30px 0 50px;
		font-size: 10px;
	}
	.copyright {
		font-size: 12px;
	}
	#tiraFunciona {
		min-height: 112px;
	}
	.cv {
		padding-right: 30px;
	}
	.fotoAye {
		min-height: 206px;
	}
	.formContacto {
		padding: 0 0 20px 0;
	}
	#camposWrapper {
		padding-bottom: 20px;
	}
	.campoFormulario {
		min-width: 356px;
		margin-bottom: 10px;
		font-size: 14px;
	}
	.campoFormulario label {
		font-size: 14px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 14px;
		padding: 0 0 0 5px;
	}
	.botones {
		min-height: 16px;
		font-size: 16px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}

}

@media screen and (min-height: 800px) {
	#header {
		min-height: 80px;
	}
	.logo {
		height: 39px;
		width: 210px;
	}
	.sliderNavegacion {
		height: 47px;
	}
	.linkNavegacion h1 {
		font-size: 26px;
		padding: 7px 3px 7px 3px;
	}
	.contenidoPrincipal {
		min-height: 350px;
	}
	#tiraHome {
		min-height: 170px;
		margin-top: 60px;
	}
	.inversion {
		font-size: 100px;
		padding-top: 40px;
	}
	.tituloPagina {
		font-size: 74px;
		padding-bottom: 30px;
	}
	.detalleImagen {
		font-size: 12px;
	}
	.tituloFooter, .tituloGeneral, .campoFormulario label, .nombre {
		font-size: 22px;
		padding-bottom: 20px;
	}	
	.cv .tituloGeneral{
		padding-bottom: 5px !important;
	}
	.cv .parrafoGeneral{
		padding-bottom: 15px !important;
	}
	
	.parrafoFooter, .parrafoGeneral {
		font-size: 16px;
		padding-bottom: 5px;
	}
	.datos {
		padding: 0 30px 0 50px;
		font-size: 14px;
	}
	.copyright {
		font-size: 14px;
	}
	#tiraFunciona {
		min-height: 112px;
		margin-top: 30px;
	}
	.cv {
		padding-right: 30px;
	}
	.fotoAye {
		min-height: 300px;
	}
	.formContacto {
		padding: 0 0 20px 0;
	}
	#camposWrapper {
		padding-bottom: 20px;
	}
	.campoFormulario {
		min-width: 420px;
		margin-bottom: 13px;
		font-size: 18px;
	}
	.campoFormulario label {
		font-size: 18px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 18px;
		padding: 0 0 0 5px;
	}
	.botones {
		min-height: 28px;
		font-size: 28px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}
}